*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-image: url("../public/mika-baumeister-PZao9UjlbMY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  color: black;
}

.section-center{
  /* background-color: white; */
  width: 90vw;
  margin: 0rem auto;
  border-radius: 10px;
}

.grocery-container{
  margin-top: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.clear-btn{
  padding: 5px 12px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.3);
}

.clear-btn:hover{
  color: #ECC249;
}
.btn{
  text-align: center;
  width: 100%;
  padding: 7px 0;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: white;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover{
  color: #ECC249;
}

.alert{
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font: bold;
}

.title{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-top: 1.5rem;
  color: white;
}

.form-control{
  padding-top: 2rem;
  padding-left: 1.4rem;
}

label{
  letter-spacing: .5px;
  color: white;
}

input{
   width: 100%;
   display: block;
   padding-left: 10px;
   padding-top: 7px;
   padding-bottom: 7px;
   margin-top: 10px;
   margin-bottom: 14px;
   font-weight: bold;
   letter-spacing: .3px;
   border-radius: 10px;
   border: none;
}

input:focus{
  outline: none;
}