*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #040404;
  font-weight: bold;
  color: black;
}

.section-center{
  background-color: white;
  width: 90vw;
  margin: 10rem auto;
  border-radius: 10px;
}

.grocery-container{
  margin-top: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.btn{
  padding: 5px 12px;
  font-weight: bold;
  color: #1C94FC;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover{
  color: #118AF4;
}

.alert{
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font: bold;
}

.title{
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-top: 1.5rem;
}

.form-control{
  padding-top: 2rem;
  padding-left: 1.4rem;
}

label{
  letter-spacing: .5px;
}

input{
   width: 80%;
   display: block;
   padding-left: 10px;
   padding-top: 3px;
   padding-bottom: 3px;
   margin-top: 10px;
   margin-bottom: 14px;
   font-weight: bold;
   letter-spacing: .3px;
}